{% extends "base.html"%}
{% load staticfiles %}

{% block head %}
{% endblock %}



{% block body%}

<a name="about"></a>
<div class="intro-header">
    <div class="container" style="padding-top:50px">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>EASY SERVICE</h1>
                    {% if user.is_authenticated %}
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="{% url "product:cadastrarProduto"%}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Cadastrar Produto</span></a>
                        </li>
                        <li>
                            <a href="{% url "product:createcategory"%}" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Cadastrar Categoria</span></a>
                        </li>
                        <li>
                            <a href="{% url "product:sellproduct"%}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Efetuar Venda</span></a>
                        </li>
                        <li>
                            <a href="{% url "product:listproducts"%}" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Produtos</span></a>
                        </li>

                    </ul>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h4>O easy service é concentrado principalmente no controle de estoque automatizado,
              mas traz também vantagens no controle de Funcionários. Ao registrar a entrada de cada
              produto em estoque, é possível consultar todo o seu estoque, porém
              a baixa de estoque ainda é feita a partir de um produto por vez.
            </h4>

            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->


<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{%static 'users/js/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{%static 'users/js/bootstrap.min.js' %}"></script>


{% endblock %}
