{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}


<div class = "row">
  <div class="col-md-8 col-md-offset-2" style="padding-top:50px;">
    <div class="page-header">
    <h1>Efetuar Venda</h1>
    </div>


  <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{form|crispy}}



  </br
  ><button type="submit" type="button" class="btn btn-success" onclick="return confirm('Voce tem certeza ?')">Cadastrar</button>
    <a class="btn btn-warning" href="{% url 'product:listproducts' %}">Cancelar</a>
      <br><h3><a class="text-danger">{{falha}}</a><h3>
  </form>
  </div>
  </div>

  <div class = "row2">
    <div class="col-md-8 col-md-offset-2">
    </br>
  <table class="table table-hover">
    <tr>
      <th>Descricao</th>
      <th>Data de Venda</th>
      <th>Produto</th>
      <th>Quantidade<th>
      <th>Deletar</th>
    </tr>
    {% for venda in all_Venda %}
    <tr>
      <td>{{venda.descricao}}</td>
      <td>{{venda.date}}</td>
      {% for produtos in venda.produtos.all %}
      <td>{{produtos}}</td>
      {%endfor%}
      <td>{{venda.quantidade}}</td>
      <td><a class="glyphicon glyphicon-trash" onclick="return confirm('Voce tem certeza que deseja deletar ?   (Essa operação é irreversível)')" href="{% url 'product:deletesell' venda.id %}"></a></td>
      </tr>
    {% endfor %}
  </table>
  </div>
</div>

{% endblock %}
